$gray-01: #333333;
$gray-02: #4F4F4F;
$white: #fff;

$space-mono-font-family: 'Space Mono', monospace, sans-serif;
$inconsolata-font-family: 'Inconsolata', monospace, sans-serif;
$montserrat-font-family: 'Montserrat', monospace, sans-serif;
