@use './assets/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span, p, button, a{
    font-family: variables.$space-mono-font-family;
    font-weight: 400;
    font-size: 1rem;
}
